* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: aliceblue;
}

.items {
    border: 1px solid rgb(21, 0, 97);
    padding: 10px 50px;
    background-color: midnightblue;
}

.navbar2 {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    color: aliceblue;
    padding: 20px;
    color: white;
    background-color: midnightblue;
    cursor: pointer;
}

.navbar2 ul {
    list-style: none;
}

.navbar2 a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    border-right: 1px;
}
