* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: aliceblue;
}

.items {
    border: 1px solid rgb(21, 0, 97);
    padding: 10px 50px;
    background-color: midnightblue;
}