.container {
  border: 2px solid black;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  background-color: rgb(240, 107, 172);
  color: aliceblue;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

