extends layout 

block content
    form(method="post" action="/processform")
        label(for="nombre") Nombre: 
        input(type="text" name="nombre" required max_length="20")
        br
        label Mensaje: 
        textarea(name="mensaje" required) 
        br
        button(type="submit") Enviar
