{% extends 'mascotaapp/layout.html' %}
        
{% block content %}
    <ul>
        {% for mascota in mascotas %}
        <li>{{ mascota.nombre }}
            {% if user.group.all.0.name == "Veterinario"%}
            <a href="{% url 'mascota_edit' mascota.pk %}">Editar</a>
            <a href="{% url 'mascota_delete' mascota.pk %}">Borrar</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'detail' mascota.pk %}">Detalles</a>
            {% endif %}
        </li>
        {% empty %}
        No hay mascotas
        {% endfor %}
    </ul>
{% endblock content %}