* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: aliceblue;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border: 1px solid black;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

h1 {
    text-align: center;
}


.campo input,
.campo textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    font-family: inherit;
}

legend {
    font-weight: bold;
    padding: 0 6px;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: large;
}

button {
    background-color: darkcyan;
    border: none;
    padding: 10px;
    color: white;
}