.container {
  border: 2px solid black;
  background-color: beige;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 200px;
}

.box {
  width: 100px;
  height: 100%;
  border: 2px solid black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: rgb(131, 156, 148);
  flex-grow: 2;
}

.box2 {
  background-color: rgb(131, 156, 148);
  flex-grow: 1;
}

.box3 {
  background-color: rgb(131, 156, 148);
  flex-grow: 5;
}
